.min-container {
  min-height: 100vh;
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 20px;
}
h1 {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.card-container {
  display: flex;
  background-color: #e3aeaa;
  padding: 30px;
  width: 100%;
  border-radius: 12px;
  margin-right: 15px;
  border: 2px solid black;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

.des {
  min-width: 180px;
  flex-wrap: wrap;
}

.color {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  flex-flow: row;
}
